
@import "~@gm-pc/react/src/var.less";

// 分拣投屏
.b-full-screen-background {
  background-image: url(~@/img/full_screen_background.jpg);
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}

.b-sorting-full-screen-button {
  &:hover {
    background-color: #56a3f2 !important;
    color: #ffffff !important;
  }
}

// 分拣投屏渐变色 蓝色
.b-full-screen-gradient-color-blue {
  background: -webkit-linear-gradient(to bottom, #37FBFF, #015CFF);
  background: -o-linear-gradient(to bottom, #37FBFF, #015CFF);
  background: -moz-linear-gradient(to bottom, #37FBFF, #015CFF);
  background: linear-gradient(to bottom, #37FBFF, #015CFF);
  -webkit-background-clip: text; 
  -o-background-clip: text; 
  -moz-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// 分拣投屏渐变色 红色
.b-full-screen-gradient-color-red {
  background: -webkit-linear-gradient(to bottom, #FF0001, #FFBCBC);
  background: -o-linear-gradient(to bottom, #FF0001, #FFBCBC);
  background: -moz-linear-gradient(to bottom, #FF0001, #FFBCBC);
  background: linear-gradient(to bottom, #FF0001, #FFBCBC);
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

// 分拣投屏渐变色 黄色
.b-full-screen-gradient-color-yellow {
  background: -webkit-linear-gradient(to bottom, #FED911, #00FCE6);
  background: -o-linear-gradient(to bottom, #FED911, #00FCE6);
  background: -moz-linear-gradient(to bottom, #FED911, #00FCE6);
  background: linear-gradient(to bottom,#FED911, #00FCE6);
  -webkit-background-clip: text;
  -o-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
}

// 按订单分拣打印单据
.b-sorting-action {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}
